// 
// Font
// 
$font-montserrat: 'Montserrat';


// 
// Colors
// 
$color-white: #ffffff;
$color-black: #000000;
$color-silver: #7C8993;
$color-orange: #FF5530;
$color-blue: #0B80CF;
$color-green: #12D16F;
$color-gray: #424A55;
$color-lightgray: #ECECEC;